doctype html
html(lang=(currentLanguage || 'vi'))
  include partials/head.pug
  body
    include partials/header.pug
    block content
    include partials/footer.pug
    include partials/fixed-tools.pug
    include partials/contact-submit-alert.pug
    script(src='/js/core.min.js')
    script(src='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js')
    script(src='/js/main.min.js')
