extends ../layouts/default

block content
    main
     .main-wrapper
      section(class='page-banner-main relative')
        //- div(class='img img-ratio ratio:pt-[480_390] md:ratio:pt-[600_1920]')
        div(class='img img-ratio ratio:pt-[320_390] md:ratio:pt-[600_1920]')
          img(src='/img/1.jpg', alt='')
        div(class='content container flex flex-col py-[40px] lg:py-10 absolute-center-x bottom-0 text-white')
          h1(class='xl:rem:text-[72px] lg:text-[58px] text-[40px]')
            | Về chúng tôi
          div(class='global-breadcrumb')
            nav(class='rank-math-breadcrumb', aria-label='breadcrumbs')
              p
                a(href='https://oracle.webcanhcam.vn')
                  | Trang chủ
                span(class='separator')
                  | |
                span(class='last')
                  | Về chúng tôi
      section(class='section-about-1 section-py-min')
        div(class='container')
          div(class='row justify-between mb-[60px] xl:rem:mb-[80px]')
            div(class='col-lg-6')
              h2(class='heading-1')
                | HR2B là công ty tư vấn nhân sự Việt Nam hoạt động theo các tiêu chuẩn quốc tế.
            div(class='col-lg-5')
              div(class='body-18')
                p
                  | Sự kết hợp giữa kiến thức sâu rộng về thị trường, quy trình kiểm soát chặt chẽ và dịch vụ chăm sóc khách hàng theo tiêu chuẩn quốc tế đã mang lại cho chúng tôi danh tiếng là một đối tác kinh doanh uy tín của các doanh nghiệp.
          div(class='wrap-slide-main')
            div(class='swiper-column-auto auto-3-column progressbar')
              div(class='swiper mb-base')
                div(class='swiper-wrapper')
                  div(class='swiper-slide')
                    div(class='item-column flex flex-col clampRem:gap-[24px_24px]')
                      img(class='icon clampRem:w-[60px_60px]', src='/img/8.svg', alt='')
                      div(class='title lg:rem:text-[24px] text-[20px] font-bold font-secondary border-b border-b-neutral-200 pb-3')
                        | Ưu điểm
                      div(class='content body-16')
                        p
                          | Trở thành đơn vị nhân sự dẫn đầu, kết nối thành công nhân tài – cơ hội.
                  div(class='swiper-slide')
                    div(class='item-column flex flex-col clampRem:gap-[24px_24px]')
                      img(class='icon clampRem:w-[60px_60px]', src='/img/8.svg', alt='')
                      div(class='title lg:rem:text-[24px] text-[20px] font-bold font-secondary border-b border-b-neutral-200 pb-3')
                        | Ưu điểm
                      div(class='content body-16')
                        p
                          | Trở thành đơn vị nhân sự dẫn đầu, kết nối thành công nhân tài – cơ hội.
                  div(class='swiper-slide')
                    div(class='item-column flex flex-col clampRem:gap-[24px_24px]')
                      img(class='icon clampRem:w-[60px_60px]', src='/img/8.svg', alt='')
                      div(class='title lg:rem:text-[24px] text-[20px] font-bold font-secondary border-b border-b-neutral-200 pb-3')
                        | Ưu điểm
                      div(class='content body-16')
                        p
                          | Trở thành đơn vị nhân sự dẫn đầu, kết nối thành công nhân tài – cơ hội.
                  div(class='swiper-slide')
                    div(class='item-column flex flex-col clampRem:gap-[24px_24px]')
                      img(class='icon clampRem:w-[60px_60px]', src='/img/8.svg', alt='')
                      div(class='title lg:rem:text-[24px] text-[20px] font-bold font-secondary border-b border-b-neutral-200 pb-3')
                        | Ưu điểm
                      div(class='content body-16')
                        p
                          | Trở thành đơn vị nhân sự dẫn đầu, kết nối thành công nhân tài – cơ hội.
                  div(class='swiper-slide')
                    div(class='item-column flex flex-col clampRem:gap-[24px_24px]')
                      img(class='icon clampRem:w-[60px_60px]', src='/img/8.svg', alt='')
                      div(class='title lg:rem:text-[24px] text-[20px] font-bold font-secondary border-b border-b-neutral-200 pb-3')
                        | Ưu điểm
                      div(class='content body-16')
                        p
                          | Trở thành đơn vị nhân sự dẫn đầu, kết nối thành công nhân tài – cơ hội.
                  div(class='swiper-slide')
                    div(class='item-column flex flex-col clampRem:gap-[24px_24px]')
                      img(class='icon clampRem:w-[60px_60px]', src='/img/8.svg', alt='')
                      div(class='title lg:rem:text-[24px] text-[20px] font-bold font-secondary border-b border-b-neutral-200 pb-3')
                        | Ưu điểm
                      div(class='content body-16')
                        p
                          | Trở thành đơn vị nhân sự dẫn đầu, kết nối thành công nhân tài – cơ hội.
                  div(class='swiper-slide')
                    div(class='item-column flex flex-col clampRem:gap-[24px_24px]')
                      img(class='icon clampRem:w-[60px_60px]', src='/img/8.svg', alt='')
                      div(class='title lg:rem:text-[24px] text-[20px] font-bold font-secondary border-b border-b-neutral-200 pb-3')
                        | Ưu điểm
                      div(class='content body-16')
                        p
                          | Trở thành đơn vị nhân sự dẫn đầu, kết nối thành công nhân tài – cơ hội.
                  div(class='swiper-slide')
                    div(class='item-column flex flex-col clampRem:gap-[24px_24px]')
                      img(class='icon clampRem:w-[60px_60px]', src='/img/8.svg', alt='')
                      div(class='title lg:rem:text-[24px] text-[20px] font-bold font-secondary border-b border-b-neutral-200 pb-3')
                        | Ưu điểm
                      div(class='content body-16')
                        p
                          | Trở thành đơn vị nhân sự dẫn đầu, kết nối thành công nhân tài – cơ hội.
                  div(class='swiper-slide')
                    div(class='item-column flex flex-col clampRem:gap-[24px_24px]')
                      img(class='icon clampRem:w-[60px_60px]', src='/img/8.svg', alt='')
                      div(class='title lg:rem:text-[24px] text-[20px] font-bold font-secondary border-b border-b-neutral-200 pb-3')
                        | Ưu điểm
                      div(class='content body-16')
                        p
                          | Trở thành đơn vị nhân sự dẫn đầu, kết nối thành công nhân tài – cơ hội.
              div(class='wrap-btn-progressbar flex items-center justify-between')
                div(class='btn btn-prev btn-sw-1')
                div(class='swiper-pagination style-primary-progressbar flex-1')
                div(class='btn btn-next btn-sw-1')
      section(class='section-about-2 section-py-min !pt-0')
        div(class='container')
          div(class='wrap-box-main bg-primary-1 grid grid-cols-2 md:grid-cols-4 md:gap-base gap-x-[32px] gap-y-[40px] py-[40px] px-[16px] lg:py-10 lg:px-8 lg:rounded-6 rounded-[24px]')
            img(class='edge', src='/img/9.png', alt='')
            div(class='item-achievement flex flex-col  text-white')
              div(class='number')
                span(class='countup', data-number='20')
                  | 20
                sup(class='suffix')
                  | +
              div(class='text')
                p
                  | Năm hình thành và phát triển
            div(class='item-achievement flex flex-col  text-white')
              div(class='number')
                span
                  | ISO
                sup(class='suffix')
                  | 27001
              div(class='text')
                p
                  | Chứng nhận ISO / IEC 27001: 2013
            div(class='item-achievement flex flex-col  text-white')
              div(class='number')
                span(class='countup', data-number='300')
                  | 300
                sup(class='suffix')
                  | +
              div(class='text')
                p
                  | Tư vấn viên chuyên nghiệp phục vụ
            div(class='item-achievement flex flex-col  text-white')
              div(class='number')
                span(class='countup', data-number='500')
                  | 500
                sup(class='suffix')
                  | +
              div(class='text')
                p
                  | Năm hình thành
      section(class='section-about-3 section-py-min bg-neutral-50')
        div(class='container')
          div(class='text-center heading-1 mb-base')
            | Lịch sử hình thành
          div(class='wrap-slide relative')
            div(class='wrap-slide-main')
              div(class='swiper')
                div(class='swiper-wrapper')
                  div(class='swiper-slide')
                    div(class='item-slide-content')
                      div(class='img-year')
                        div(class='img img-ratio ratio:pt-[291_358]')
                          img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                        div(class='year')
                          | 2020
                      div(class='content-year')
                        div(class='format-content body-18')
                          p
                            | HR2B có thêm dịch vụ Quản lý Tiền lương vào năm 2006 và khách hàng đầu tiên của chúng tôi là Đại học Swinburne, nơi có nhu cầu trả lương cho 4 nhân viên làm việc tại Hồ Chí Minh. Hiện tại, nhóm nhân viên phụ trách quản lý tiền lương đã có hơn 20 người, phục vụ hơn 40 khách hàng, chi trả cho hàng nghìn nhân sự làm việc có nhận lương trên khắp cả nước.
                  div(class='swiper-slide')
                    div(class='item-slide-content')
                      div(class='img-year')
                        div(class='img img-ratio ratio:pt-[291_358]')
                          img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                        div(class='year')
                          | 2021
                      div(class='content-year')
                        div(class='format-content body-18')
                          p
                            | HR2B có thêm dịch vụ Quản lý Tiền lương vào năm 2006 và khách hàng đầu tiên của chúng tôi là Đại học Swinburne, nơi có nhu cầu trả lương cho 4 nhân viên làm việc tại Hồ Chí Minh. Hiện tại, nhóm nhân viên phụ trách quản lý tiền lương đã có hơn 20 người, phục vụ hơn 40 khách hàng, chi trả cho hàng nghìn nhân sự làm việc có nhận lương trên khắp cả nước.
                  div(class='swiper-slide')
                    div(class='item-slide-content')
                      div(class='img-year')
                        div(class='img img-ratio ratio:pt-[291_358]')
                          img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                        div(class='year')
                          | 2022
                      div(class='content-year')
                        div(class='format-content body-18')
                          p
                            | HR2B có thêm dịch vụ Quản lý Tiền lương vào năm 2006 và khách hàng đầu tiên của chúng tôi là Đại học Swinburne, nơi có nhu cầu trả lương cho 4 nhân viên làm việc tại Hồ Chí Minh. Hiện tại, nhóm nhân viên phụ trách quản lý tiền lương đã có hơn 20 người, phục vụ hơn 40 khách hàng, chi trả cho hàng nghìn nhân sự làm việc có nhận lương trên khắp cả nước.
                  div(class='swiper-slide')
                    div(class='item-slide-content')
                      div(class='img-year')
                        div(class='img img-ratio ratio:pt-[291_358]')
                          img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                        div(class='year')
                          | 2023
                      div(class='content-year')
                        div(class='format-content body-18')
                          p
                            | HR2B có thêm dịch vụ Quản lý Tiền lương vào năm 2006 và khách hàng đầu tiên của chúng tôi là Đại học Swinburne, nơi có nhu cầu trả lương cho 4 nhân viên làm việc tại Hồ Chí Minh. Hiện tại, nhóm nhân viên phụ trách quản lý tiền lương đã có hơn 20 người, phục vụ hơn 40 khách hàng, chi trả cho hàng nghìn nhân sự làm việc có nhận lương trên khắp cả nước.
                  div(class='swiper-slide')
                    div(class='item-slide-content')
                      div(class='img-year')
                        div(class='img img-ratio ratio:pt-[291_358]')
                          img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                        div(class='year')
                          | 2024
                      div(class='content-year')
                        div(class='format-content body-18')
                          p
                            | HR2B có thêm dịch vụ Quản lý Tiền lương vào năm 2006 và khách hàng đầu tiên của chúng tôi là Đại học Swinburne, nơi có nhu cầu trả lương cho 4 nhân viên làm việc tại Hồ Chí Minh. Hiện tại, nhóm nhân viên phụ trách quản lý tiền lương đã có hơn 20 người, phục vụ hơn 40 khách hàng, chi trả cho hàng nghìn nhân sự làm việc có nhận lương trên khắp cả nước.
                  div(class='swiper-slide')
                    div(class='item-slide-content')
                      div(class='img-year')
                        div(class='img img-ratio ratio:pt-[291_358]')
                          img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                        div(class='year')
                          | 2025
                      div(class='content-year')
                        div(class='format-content body-18')
                          p
                            | HR2B có thêm dịch vụ Quản lý Tiền lương vào năm 2006 và khách hàng đầu tiên của chúng tôi là Đại học Swinburne, nơi có nhu cầu trả lương cho 4 nhân viên làm việc tại Hồ Chí Minh. Hiện tại, nhóm nhân viên phụ trách quản lý tiền lương đã có hơn 20 người, phục vụ hơn 40 khách hàng, chi trả cho hàng nghìn nhân sự làm việc có nhận lương trên khắp cả nước.
                  div(class='swiper-slide')
                    div(class='item-slide-content')
                      div(class='img-year')
                        div(class='img img-ratio ratio:pt-[291_358]')
                          img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                        div(class='year')
                          | 2026
                      div(class='content-year')
                        div(class='format-content body-18')
                          p
                            | HR2B có thêm dịch vụ Quản lý Tiền lương vào năm 2006 và khách hàng đầu tiên của chúng tôi là Đại học Swinburne, nơi có nhu cầu trả lương cho 4 nhân viên làm việc tại Hồ Chí Minh. Hiện tại, nhóm nhân viên phụ trách quản lý tiền lương đã có hơn 20 người, phục vụ hơn 40 khách hàng, chi trả cho hàng nghìn nhân sự làm việc có nhận lương trên khắp cả nước.
                  div(class='swiper-slide')
                    div(class='item-slide-content')
                      div(class='img-year')
                        div(class='img img-ratio ratio:pt-[291_358]')
                          img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                        div(class='year')
                          | 2027
                      div(class='content-year')
                        div(class='format-content body-18')
                          p
                            | HR2B có thêm dịch vụ Quản lý Tiền lương vào năm 2006 và khách hàng đầu tiên của chúng tôi là Đại học Swinburne, nơi có nhu cầu trả lương cho 4 nhân viên làm việc tại Hồ Chí Minh. Hiện tại, nhóm nhân viên phụ trách quản lý tiền lương đã có hơn 20 người, phục vụ hơn 40 khách hàng, chi trả cho hàng nghìn nhân sự làm việc có nhận lương trên khắp cả nước.
                  div(class='swiper-slide')
                    div(class='item-slide-content')
                      div(class='img-year')
                        div(class='img img-ratio ratio:pt-[291_358]')
                          img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                        div(class='year')
                          | 2028
                      div(class='content-year')
                        div(class='format-content body-18')
                          p
                            | HR2B có thêm dịch vụ Quản lý Tiền lương vào năm 2006 và khách hàng đầu tiên của chúng tôi là Đại học Swinburne, nơi có nhu cầu trả lương cho 4 nhân viên làm việc tại Hồ Chí Minh. Hiện tại, nhóm nhân viên phụ trách quản lý tiền lương đã có hơn 20 người, phục vụ hơn 40 khách hàng, chi trả cho hàng nghìn nhân sự làm việc có nhận lương trên khắp cả nước.
                  div(class='swiper-slide')
                    div(class='item-slide-content')
                      div(class='img-year')
                        div(class='img img-ratio ratio:pt-[291_358]')
                          img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                        div(class='year')
                          | 2029
                      div(class='content-year')
                        div(class='format-content body-18')
                          p
                            | HR2B có thêm dịch vụ Quản lý Tiền lương vào năm 2006 và khách hàng đầu tiên của chúng tôi là Đại học Swinburne, nơi có nhu cầu trả lương cho 4 nhân viên làm việc tại Hồ Chí Minh. Hiện tại, nhóm nhân viên phụ trách quản lý tiền lương đã có hơn 20 người, phục vụ hơn 40 khách hàng, chi trả cho hàng nghìn nhân sự làm việc có nhận lương trên khắp cả nước.
            div(class='wrap-slide-year')
              div(class='swiper')
                div(class='swiper-wrapper')
                  div(class='swiper-slide')
                    div(class='item-slide-year')
                      div(class='year')
                        | 2020
                      div(class='line')
                      div(class='dot')
                  div(class='swiper-slide')
                    div(class='item-slide-year')
                      div(class='year')
                        | 2021
                      div(class='line')
                      div(class='dot')
                  div(class='swiper-slide')
                    div(class='item-slide-year')
                      div(class='year')
                        | 2022
                      div(class='line')
                      div(class='dot')
                  div(class='swiper-slide')
                    div(class='item-slide-year')
                      div(class='year')
                        | 2023
                      div(class='line')
                      div(class='dot')
                  div(class='swiper-slide')
                    div(class='item-slide-year')
                      div(class='year')
                        | 2024
                      div(class='line')
                      div(class='dot')
                  div(class='swiper-slide')
                    div(class='item-slide-year')
                      div(class='year')
                        | 2025
                      div(class='line')
                      div(class='dot')
                  div(class='swiper-slide')
                    div(class='item-slide-year')
                      div(class='year')
                        | 2026
                      div(class='line')
                      div(class='dot')
                  div(class='swiper-slide')
                    div(class='item-slide-year')
                      div(class='year')
                        | 2027
                      div(class='line')
                      div(class='dot')
                  div(class='swiper-slide')
                    div(class='item-slide-year')
                      div(class='year')
                        | 2028
                      div(class='line')
                      div(class='dot')
                  div(class='swiper-slide')
                    div(class='item-slide-year')
                      div(class='year')
                        | 2029
                      div(class='line')
                      div(class='dot')
            div(class='wrap-button-slide')
              div(class='btn btn-prev btn-sw-1')
              div(class='btn btn-next btn-sw-1')
      section(class='section-home-coop section-py xl:mb-[52px]')
        div(class='container')
          div(class='text-center heading-1 mb-base')
            | Đối tác của chúng tôi
          div(class='grid grid-cols-2 md:grid-cols-4 lg:gap-6 gap-[12px]')
            div(class='item-logo flex-center img-contain border border-neutral-100 lg:rem:h-[124px] h-[64px] lg:p-8 p-4 zoom-img hover:border-primary-1 transition-300')
              img(class='lozad undefined', data-src='/img/6.png', alt='')
            div(class='item-logo flex-center img-contain border border-neutral-100 lg:rem:h-[124px] h-[64px] lg:p-8 p-4 zoom-img hover:border-primary-1 transition-300')
              img(class='lozad undefined', data-src='/img/6.png', alt='')
            div(class='item-logo flex-center img-contain border border-neutral-100 lg:rem:h-[124px] h-[64px] lg:p-8 p-4 zoom-img hover:border-primary-1 transition-300')
              img(class='lozad undefined', data-src='/img/6.png', alt='')
            div(class='item-logo flex-center img-contain border border-neutral-100 lg:rem:h-[124px] h-[64px] lg:p-8 p-4 zoom-img hover:border-primary-1 transition-300')
              img(class='lozad undefined', data-src='/img/6.png', alt='')
      section(class='section-about-5 section-py-min')
        div(class='container')
          div(class='text-center')
            div(class='heading-1 mb-base')
              | Đội ngũ quản lý - BOD
            div(class='grid lg:grid-cols-4 grid-cols-2 gap-[20px] lg:gap-base')
              a(class='item-employee flex flex-col gap-3', data-fancybox='', data-src='#popup-employee')
                div(class='img img-ratio ratio:pt-[193_169] rounded-3 zoom-img')
                  img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                div(class='content flex flex-col gap-1 text-left')
                  div(class='body-18 font-semibold')
                    | Mr. Tom Vovers
                  div(class='body-16')
                    | Chủ tịch
              div(class='hidden')
                div(class='popup-employee popup-style-general', id='popup-employee')
                  div(class='popup-head')
                    div(class='img')
                      div(class='img-ratio ratio:pt-[136_119] rounded-3')
                        img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                    div(class='wrap-content flex-1 flex flex-col gap-[12px] lg:gap-6')
                      div(class='title lg:pb-6 pb-[12px] border-b border-neutral-50')
                        div(class='body-18 font-semibold lg:rem:text-[24px]')
                          | Mr. Tom Vovers
                        div(class='body-16')
                          | Chủ tịch
                      div(class='content body-16')
                        p
                          strong
                            | Chuyên môn:
                          | Quản lý
                        p
                          strong
                            | Kinh nghiệm:
                          | 22 năm
                      div(class='share')
                        p(class='clampRem:text-[12px_14px]')
                          | Chia sẻ
                        ul
                          li
                            a(href='')
                              img(src='/img/social/facebook.svg', alt='')
                          li
                            a(href='')
                              img(src='/img/social/linked-in.svg', alt='')
                          li
                            a(href='')
                              img(src='/img/social/zalo.svg', alt='')
                  div(class='popup-content format-content')
                    p
                      strong
                        | Gia nhập HR2B:
                      | 2/2002
                    p
                      strong
                        | Kinh nghiệm:
                      | 22 năm
                    p
                      | Trình độ
                    ul
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                    hr
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
              a(class='item-employee flex flex-col gap-3', data-fancybox='', data-src='#popup-employee')
                div(class='img img-ratio ratio:pt-[193_169] rounded-3 zoom-img')
                  img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                div(class='content flex flex-col gap-1 text-left')
                  div(class='body-18 font-semibold')
                    | Mr. Tom Vovers
                  div(class='body-16')
                    | Chủ tịch
              div(class='hidden')
                div(class='popup-employee popup-style-general', id='popup-employee')
                  div(class='popup-head')
                    div(class='img')
                      div(class='img-ratio ratio:pt-[136_119] rounded-3')
                        img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                    div(class='wrap-content flex-1 flex flex-col gap-[12px] lg:gap-6')
                      div(class='title lg:pb-6 pb-[12px] border-b border-neutral-50')
                        div(class='body-18 font-semibold lg:rem:text-[24px]')
                          | Mr. Tom Vovers
                        div(class='body-16')
                          | Chủ tịch
                      div(class='content body-16')
                        p
                          strong
                            | Chuyên môn:
                          | Quản lý
                        p
                          strong
                            | Kinh nghiệm:
                          | 22 năm
                      div(class='share')
                        p(class='clampRem:text-[12px_14px]')
                          | Chia sẻ
                        ul
                          li
                            a(href='')
                              img(src='/img/social/facebook.svg', alt='')
                          li
                            a(href='')
                              img(src='/img/social/linked-in.svg', alt='')
                          li
                            a(href='')
                              img(src='/img/social/zalo.svg', alt='')
                  div(class='popup-content format-content')
                    p
                      strong
                        | Gia nhập HR2B:
                      | 2/2002
                    p
                      strong
                        | Kinh nghiệm:
                      | 22 năm
                    p
                      | Trình độ
                    ul
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                    hr
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
              a(class='item-employee flex flex-col gap-3', data-fancybox='', data-src='#popup-employee')
                div(class='img img-ratio ratio:pt-[193_169] rounded-3 zoom-img')
                  img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                div(class='content flex flex-col gap-1 text-left')
                  div(class='body-18 font-semibold')
                    | Mr. Tom Vovers
                  div(class='body-16')
                    | Chủ tịch
              div(class='hidden')
                div(class='popup-employee popup-style-general', id='popup-employee')
                  div(class='popup-head')
                    div(class='img')
                      div(class='img-ratio ratio:pt-[136_119] rounded-3')
                        img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                    div(class='wrap-content flex-1 flex flex-col gap-[12px] lg:gap-6')
                      div(class='title lg:pb-6 pb-[12px] border-b border-neutral-50')
                        div(class='body-18 font-semibold lg:rem:text-[24px]')
                          | Mr. Tom Vovers
                        div(class='body-16')
                          | Chủ tịch
                      div(class='content body-16')
                        p
                          strong
                            | Chuyên môn:
                          | Quản lý
                        p
                          strong
                            | Kinh nghiệm:
                          | 22 năm
                      div(class='share')
                        p(class='clampRem:text-[12px_14px]')
                          | Chia sẻ
                        ul
                          li
                            a(href='')
                              img(src='/img/social/facebook.svg', alt='')
                          li
                            a(href='')
                              img(src='/img/social/linked-in.svg', alt='')
                          li
                            a(href='')
                              img(src='/img/social/zalo.svg', alt='')
                  div(class='popup-content format-content')
                    p
                      strong
                        | Gia nhập HR2B:
                      | 2/2002
                    p
                      strong
                        | Kinh nghiệm:
                      | 22 năm
                    p
                      | Trình độ
                    ul
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                    hr
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
              a(class='item-employee flex flex-col gap-3', data-fancybox='', data-src='#popup-employee')
                div(class='img img-ratio ratio:pt-[193_169] rounded-3 zoom-img')
                  img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                div(class='content flex flex-col gap-1 text-left')
                  div(class='body-18 font-semibold')
                    | Mr. Tom Vovers
                  div(class='body-16')
                    | Chủ tịch
              div(class='hidden')
                div(class='popup-employee popup-style-general', id='popup-employee')
                  div(class='popup-head')
                    div(class='img')
                      div(class='img-ratio ratio:pt-[136_119] rounded-3')
                        img(class='lozad undefined', data-src='/img/1.jpg', alt='')
                    div(class='wrap-content flex-1 flex flex-col gap-[12px] lg:gap-6')
                      div(class='title lg:pb-6 pb-[12px] border-b border-neutral-50')
                        div(class='body-18 font-semibold lg:rem:text-[24px]')
                          | Mr. Tom Vovers
                        div(class='body-16')
                          | Chủ tịch
                      div(class='content body-16')
                        p
                          strong
                            | Chuyên môn:
                          | Quản lý
                        p
                          strong
                            | Kinh nghiệm:
                          | 22 năm
                      div(class='share')
                        p(class='clampRem:text-[12px_14px]')
                          | Chia sẻ
                        ul
                          li
                            a(href='')
                              img(src='/img/social/facebook.svg', alt='')
                          li
                            a(href='')
                              img(src='/img/social/linked-in.svg', alt='')
                          li
                            a(href='')
                              img(src='/img/social/zalo.svg', alt='')
                  div(class='popup-content format-content')
                    p
                      strong
                        | Gia nhập HR2B:
                      | 2/2002
                    p
                      strong
                        | Kinh nghiệm:
                      | 22 năm
                    p
                      | Trình độ
                    ul
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                      li
                        | Thạc sỹ Quản trị kinh doanh (MBA), Đại học Quản trị Henley, 2000
                    hr
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
                    p
                      | Sau khi tốt nghiệp tại Đại học Adelaide, Nam Úc, tôi làm việc tại BHP Steel, Whyalla trong lĩnh vực quan hệ lao động. Năm 1991, tôi chuyển đến trụ sở của công ty BHP Petrolium tại Melbourne để tích hợp nhân sự cho các doanh nghiệp Mỹ và Anh. Năm 1993, tôi đến thành phố Hồ Chí Minh với tư cách thành viên cho dự án mỏ Đại Hùng. Hai năm sau, tôi chuyển đến làm việc tại BHP Steel ở Rayong, Thái Lan trong vai trò giám đốc dự án cho một xưởng sản xuất thép mới. Năm 1997, tôi quay lại Việt Nam làm việc cho công ty British American Tobacco với vị trí Trưởng phòng Nguồn nhân lực và sau đó là Giám đốc Nguồn nhân lực cho khu vực. Năm 2000, tôi gia nhập KPMG và phụ trách Nguồn nhân lực cho khu vực và sau đó năm 2001 chuyển đến Singapore làm việc cho SAP Markets. Năm 2003, tôi trở lại Việt Nam và thành lập công ty HR2B.
      section(class='section-about-6 section-py-min ')
        div(class='container')
          div(class='heading-1 text-center mb-base')
            | Chứng chỉ - Chứng nhận
          div(class='wrap')
            div(class='swiper-column-auto auto-3-column')
              div(class='swiper')
                div(class='swiper-wrapper')
                  div(class='swiper-slide')
                    div(class='item-cert border border-neutral-50 clampRem:p-[16px] flex items-center clampRem:gap-[24px_24px] clampRem:rounded-[24px] hover:border-primary-1 transition-all')
                      div(class='content flex flex-col flex-1')
                        div(class='title body-18 font-bold lg:rem:text-[24px]')
                          | 2018
                        div(class='body-14 lg:rem:text-[14px]')
                          | HR Asia Award - Best Place to Work in Asia
                      div(class='img clampRem:w-[110px_110px] clampRem:h-[139px_139px] flex-center rounded-6 bg-[#fafafa] p-4 flex-shrink-0 [&_img]:w-full [&_img]:h-full [&_img]:rounded-5')
                        img(src='/img/10.png', alt='')
                  div(class='swiper-slide')
                    div(class='item-cert border border-neutral-50 clampRem:p-[16px] flex items-center clampRem:gap-[24px_24px] clampRem:rounded-[24px] hover:border-primary-1 transition-all')
                      div(class='content flex flex-col flex-1')
                        div(class='title body-18 font-bold lg:rem:text-[24px]')
                          | 2018
                        div(class='body-14 lg:rem:text-[14px]')
                          | HR Asia Award - Best Place to Work in Asia
                      div(class='img clampRem:w-[110px_110px] clampRem:h-[139px_139px] flex-center rounded-6 bg-[#fafafa] p-4 flex-shrink-0 [&_img]:w-full [&_img]:h-full [&_img]:rounded-5')
                        img(src='/img/10.png', alt='')
                  div(class='swiper-slide')
                    div(class='item-cert border border-neutral-50 clampRem:p-[16px] flex items-center clampRem:gap-[24px_24px] clampRem:rounded-[24px] hover:border-primary-1 transition-all')
                      div(class='content flex flex-col flex-1')
                        div(class='title body-18 font-bold lg:rem:text-[24px]')
                          | 2018
                        div(class='body-14 lg:rem:text-[14px]')
                          | HR Asia Award - Best Place to Work in Asia
                      div(class='img clampRem:w-[110px_110px] clampRem:h-[139px_139px] flex-center rounded-6 bg-[#fafafa] p-4 flex-shrink-0 [&_img]:w-full [&_img]:h-full [&_img]:rounded-5')
                        img(src='/img/10.png', alt='')
      section(class='bg-neutral-50 -md:[&_section]:py-[40px]')
        section(class='section-home-solution section-py')
          div(class='container')
            div(class='text-center')
              h2(class='heading-1 mb-base')
                | Giải pháp nhân sự
          div(class='wrap px-base xl:rem:px-[100px]')
            div(class='grid grid-cols-1 md:grid-cols-3 lg:gap-6 gap-[16px]')
              div(class='item-solution', setbackground='/img/1.jpg')
                div(class='flex flex-col gap-6 relative z-5 stretched-link', href='')
                  div(class='icon')
                    img(class='lozad undefined', data-src='/img/4.png', alt='')
                  div(class='wrap-content flex flex-col gap-6')
                    div(class='title')
                      a(class='stretched-link', href='')
                        | Tuyển dụng
                        br
                        | nhân sự cấp cao
                    div(class='content')
                      p
                        | HR2B giúp khách hàng tìm kiếm ứng viên nhanh hơn so với các đối thủ cạnh tranh trên thị trường. Ứng viên  từ HR2B gắn bó lâu dài và đóng góp cho sự phát triển của doanh nghiệp.
                a(class='btn btn-primary mt-auto z-5 relative', href='')
                  span
                    | Tìm hiểu thêm
                  div(class='icon')
              div(class='item-solution', setbackground='/img/1.jpg')
                div(class='flex flex-col gap-6 relative z-5 stretched-link', href='')
                  div(class='icon')
                    img(class='lozad undefined', data-src='/img/4.png', alt='')
                  div(class='wrap-content flex flex-col gap-6')
                    div(class='title')
                      a(class='stretched-link', href='')
                        | Tuyển dụng
                        br
                        | nhân sự cấp cao
                    div(class='content')
                      p
                        | HR2B giúp khách hàng tìm kiếm ứng viên nhanh hơn so với các đối thủ cạnh tranh trên thị trường. Ứng viên  từ HR2B gắn bó lâu dài và đóng góp cho sự phát triển của doanh nghiệp.
                a(class='btn btn-primary mt-auto z-5 relative', href='')
                  span
                    | Tìm hiểu thêm
                  div(class='icon')
              div(class='item-solution', setbackground='/img/1.jpg')
                div(class='flex flex-col gap-6 relative z-5 stretched-link', href='')
                  div(class='icon')
                    img(class='lozad undefined', data-src='/img/4.png', alt='')
                  div(class='wrap-content flex flex-col gap-6')
                    div(class='title')
                      a(class='stretched-link', href='')
                        | Tuyển dụng
                        br
                        | nhân sự cấp cao
                    div(class='content')
                      p
                        | HR2B giúp khách hàng tìm kiếm ứng viên nhanh hơn so với các đối thủ cạnh tranh trên thị trường. Ứng viên  từ HR2B gắn bó lâu dài và đóng góp cho sự phát triển của doanh nghiệp.
                a(class='btn btn-primary mt-auto z-5 relative', href='')
                  span
                    | Tìm hiểu thêm
                  div(class='icon')
      section(class='section-contact-form section-py-min !pt-0 bg-neutral-50')
        div(class='container')
          div(class='popup-style-general')
            div(class='popup-title -md:!text-[32px]')
              | Thông tin liên hệ
            div(class='popup-content')
              div(class='form-contact form-style-general')
                div(class='form-group')
                  input(type='text', name='fullname', placeholder='Họ và tên', required='')
                div(class='form-group')
                  input(type='text', name='company', placeholder='Tên công ty')
                div(class='form-group')
                  input(type='tel', name='phone', placeholder='Số điện thoại', required='')
                div(class='form-group')
                  input(type='email', name='email', placeholder='Email công việc', required='')
                div(class='form-group col-span-form')
                  textarea(name='requirements', rows='4', placeholder='Hãy để chúng tôi hiểu hơn về nhu cầu..')
                div(class='form-group col-span-form')
                  div(class='form-checkbox term')
                    label
                      input(type='checkbox', name='agree-terms', required='')
                      p
                        span
                          | Tôi đồng ý với
                        a(href='#')
                          | Điều kiện điều khoản
                        span
                          | và
                        a(href='#')
                          | Chính sách bảo mật
                        span
                          | của HR2B.
                div(class='flex-center col-span-form')
                  button(class='btn btn-primary', type='submit')
                    span
                      | Gửi ngay
                    div(class='icon custom-icon')
                      i(class='fa-light fa-send')
