extends ../layouts/default

block content
    main
     .main-wrapper
      if data.banner && data.banner.urlPhoto
        section(class='page-banner-main relative')
          div(class='img img-ratio ratio:pt-[320_390] md:ratio:pt-[600_1920]')
            img(src=data.banner.urlPhoto, alt= category.name)
          div(class='content container flex flex-col py-[40px] lg:py-10 absolute-center-x bottom-0 text-white')
            h1(class='xl:rem:text-[72px] lg:text-[58px] text-[40px]')
              = (category && category.name) ? category.name : ''
            -
              var pageTitle = (category && category.name) ? category.name : _('Về chúng tôi');
              var breadcrumbItems = [{ name: pageTitle, url: '' }];
            include ./blocks/breadcrumb

      if data.info
        - const info = data.info || {}
        section(class='section-about-1 section-py-min')
          div(class='container')
            div(class='row justify-between mb-[60px] xl:rem:mb-[80px]')
              div(class='col-lg-6')
                h2(class='heading-1')
                  = info.title ? info.title : ''
              div(class='col-lg-5')
                .format-content.body-18
                  if info.descriptionHtml
                    != info.descriptionHtml
                  else if info.description
                    p= info.description

      - const aboutBlocks = Array.isArray(data.blocks) ? data.blocks : []
      if aboutBlocks.length > 0
        each block in aboutBlocks
          case block.__component
            when 'about.uu-diem'
              - const advantageBlock = block || {}
              include ./blocks/advantage
            when 'shares.thanh-tuu'
              include ./blocks/about-achievements
            when 'about.lich-su-hinh-thanh'
              include ./blocks/about-history
            when 'about.doi-ngu-quan-ly'
              include ./blocks/about-management
            when 'shares.doi-tac'
              include ../shared/partner.pug
            when 'homepage.giai-phap-nhan-su'
              include ../home/blocks/human-resources.pug
            when 'shares.chung-chi-chung-nhan'
              include ../shared/certificates.pug
      include ./blocks/about-contact
